extends layout

block content
	div.row.clearfix#article_container
		div.nine.columns
			div#article_options
				a(href="/")#back BACK
				span#options
					a 
						span.typicn.star
						| Star
					a 
						span.typicn.thumbsUp
						|Like
					a 
						span.typicn.brightness
						|Day/Night
					a 
						span.typicn.plus
						|Text Size
					a(href="#{article.url}") View Original
			div#article
			script(type='text/javascript')
				$('div#article').load("#{article.path}");
		div.three.columns#comments
			h5 Comments
			div#owner_comment
				span.name #{article.user.firstName} #{article.user.lastName}
				p #{ article.description }
				span Posted 1 day ago
				span.like_reply
					a like (3) 
					a#reply_click reply 
						span.typicn.forward
			each comment in comments
				div.comment 
					span.name #{comment.user.firstName} #{comment.user.lastName}
					p #{comment.msg}
					span.post_time Posted #{comment.time}
					span.like_reply
						a like (3) 
						a.reply_click(onclick = "show_comment_box(0)") reply 
							span.typicn.forward
				each reply in comment.replies
					- var counter = 1
					div(id = "replies_#{counter}")
						span.name #{reply.user.firstName} #{reply.user.lastName}				
						p #{reply.msg}
						span.post_time Posted #{comment.time}
						span.like_reply
							a like (3) 
							a.reply_click(onclick = "show_comment_box(#{counter})") reply 
								span.typicn.forward
					div(id = "reply_#{counter}", style="display: none")
						span replying to #{reply.user.firstName} #{reply.user.lastName}
						form(name="add_comment", action="/",enctype="multipart/form-data", method="post")
							textarea(name="reply_conent", type="text", id="reply_conent", placeholder="Type in a comment")			
							input(type="submit", value="comment")			
				div#reply_0(style="display: none")
					span replying to #{comment.user.firstName} #{comment.user.lastName}
					form(name="add_comment", action="/",enctype="multipart/form-data", method="post")
						textarea(name="reply_conent", type="text", id="reply_conent", placeholder="Type in a comment")			
						input(type="submit", value="comment")	
				script(type='text/javascript')
					function show_comment_box(id)
					{
					$("#reply_" + id).slideToggle();
					}	
					
			