extends layout

block content
	div.row#hidden-info(style="display:none;", data-resource-id="#{article.uuid}")
	div.row.clearfix#article_container
		div.eight.columns
			div.article_options#article_options_mobile.show-for-small
				div#options
					a(href="/")#back
						span#back_btn Back
					a(href="#{article.url}", target="_blank")#view_original
						span#link_btn View Original
						
			div.article_options#article_options_mobile.show-for-small
				div#options
					- if (article.starred)
						span.star_btn.starred &nbsp;
					- else
						span.star_btn.unstarred &nbsp;
					- if (article.liked)
						span.like_btn.liked 
							em #{article.likes}

					- else
						span.like_btn.disliked
							em #{article.likes}
							
					span#invert_btn &nbsp;
					span#textsize_btn &nbsp;
					
			div.article_options.hide-for-small
			
				a(href="/")#back
					span#back_btn
						|  BACK
				span#options
					- if (article.starred)
						span.star_btn.starred
							|  Star
					- else
						span.star_btn.unstarred
							|  Star
					- if (article.liked)
						span.like_btn.liked
							|  Like (
							em #{article.likes}
							)
					- else
						span.like_btn.disliked
							|  Like (
							em #{article.likes}
							)
					span#invert_btn
						|  Day/Night
					span#textsize_btn 
						|  Text Size
					a(href="#{article.url}", target="_blank")
						span#link_btn
							|  View Original


			- if (article.fileType === 'html')
				div#article
					h1 #{article.title}
					div
				script(type='text/javascript')
					$('div#article div').load('/resources/articles/'+"#{article.path}");
			- else
				div#article
					iframe(src="http://docs.google.com/gview?url=http://#{host}/resources/files/#{article.path}&embedded=true")




		div.four.columns#comments
			h5 Poster's Comment
			div#owner_comment
				- if (article.user.avatar)
					a.avatar(href="/profile/#{article.user.uuid}")
						img(src="#{article.user.avatar}")
				- else
					a.avatar(href="/profile/#{article.user.uuid}")
						img(src="/images/engage/default_profile.png")
				span.name #{article.user.firstName} #{article.user.lastName}
				p #{ article.description }
				span.post_time(data-time="#{article.createdAt}") #{article.createdAt}
				span.like_reply

					a.reply_click(data-target-uuid="#{article.uuid}", data-reply-type="super") Reply
						span.typicn.forward
			h5 Comments
			ol
