extends layout

block content
	div.row#hidden-info(style="display:none;", data-resource-id="#{article.uuid}")
	div.row.clearfix#article_container
		div.eight.columns
			div#article_options
			
				a(href="/")#back
					span#back_btn
						|  BACK
				span#options
					span#star_btn 
						|  Star
					span#like_btn 
						|  Like (4)
					span#invert_btn
						|  Day/Night
					span#textsize_btn 
						|  Text Size
					a(href="#{article.url}", target="_blank")
						span#link_btn
							|  View Original
			script	
				function invertText(){
					article = getElementbyID("article");
					article.style.color("black")
				}
			div#article
				h1 #{article.title}
				div
			script(type='text/javascript')
				$('div#article div').load('/resources/articles/'+"#{article.path}");



		div.four.columns#comments
			h5 Comments
			div#owner_comment
				span.name #{article.user.firstName} #{article.user.lastName}
				p #{ article.description }
				span.post_time(data-time="#{article.createdAt}") #{article.createdAt}
				span.like_reply

					a.reply_click(data-target-uuid="#{article.uuid}", data-reply-type="super") reply
						span.typicn.forward
			ol
