extends layout

block content
	div.row#contents
		div.three.columns
			div.innercontents
				form(name="add_article", action="/",enctype="multipart/form-data", method="post", onsubmit="return validateForm()", style="margin-bottom : 0", class="custom")
					label Share a resource!
					input(name="article_url",type="text", id="article_url", placeholder="http://")
					input(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment")
					div.row
						div.selectcourse
							select(class="customDropdown", name="article_course", value="select a course")
								each name , course in user.courses
									option #{course}
						div.submit
							input(type="submit", value="add", class="small button")
		- var counter = 0 
		each name , course in user.courses
			- var coursename = course
			each article in name
				div.three.columns
					div.innercontents
						b #{article.uploaded_by}
						div.post_details 
							p Posted in 
								span.coursename #{coursename}
								span.post_time(id="post_time_#{counter}") 
								
						h5(style="height:54px;")
							a(href="/article/#{article.id}") #{article.title}
						div.articlepreview(id = "preview_#{counter}")
						div.likescomments
							span Like (1)
							span Comment (5)
						script(type='text/javascript')
							var now = new Date();
							var post_time = new Date(Date.parse(" #{article.uploaded_on} "));
							var prettytime = formatAgo(post_time, null, now);
							$('span#post_time_#{counter}').append(prettytime);
							$('div#preview_#{counter}').load("#{article.path} p");
						
						- counter = counter +1	
				
	
