extends layout

block content

	- var weeks = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
	
	div.row.show-for-small
		div.mobile-four.columns
			span#mobile_week_label WEEK
			div#mobile_week_bar
				ul
					each week in weeks
						li.mobile_week_item
							- if (week > currentWeek && user.type ===0 )
								a.disabled( data-week="#{week}") #{week}
							- else
								a.passed(href="#week#{week}", data-week="#{week}") #{week}
	
				
	div.row.hide-for-small
		div.twelve.columns#weeks-bar
			ul
				li
					a#week WEEK
				each week in weeks
					li
						- if (week > currentWeek && user.type ===0 )
							a.disabled( data-week="#{week}") #{week}
						- else
							a.passed(href="#week#{week}", data-week="#{week}") #{week}



	div.row.clearfix#contents
		
		div.three.columns#sharebox.hide-for-small

			div.innercontents#submitnew
				div.loading
					span loading...
				div.msg
					span.delete_btn X
					div

				div.error
					span.delete_btn X
					div

				div.cover
					div.frontCard
						form#share_article(name="share_article", action="/",enctype="multipart/form-data", method="post", style="margin-bottom : 0", class="custom")
							label Share or
								a.flip_btn  upload a resource!
							input(name="article_url",type="text", id="article_url", placeholder="http://")
							textarea(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment")

							div.sumbitrow
								div.selectcourse
									select(class="customDropdown", name="article_course", value="select a course")
										each item in courses
											option(value=item.uuid) #{item.subject+item.number}
								div.submit
									input(type="submit", value="Post", class="small button")
					div.backCard
						form#upload_article(name="upload_article", action="/resource/upload",enctype="multipart/form-data", method="post", style="margin-bottom : 0", class="custom")
							label Upload or
								a.flip_btn  share a resource!
							div
								input(name="article_title",type="text", id="article_title", placeholder="Title")
								div.browsebox
									input(type="file",name="article_file",id="article_file")
									div#upload_file +
							textarea(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment")

							div.sumbitrow
								div.selectcourse
									select#article_course(class="customDropdown", name="article_course", value="select a course")
										each item in courses
											option(value=item.uuid) #{item.subject+item.number}
								div.submit
									input(type="submit", value="Post", class="small button")