extends layout

block content

	- var weeks = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
	div.row.hide-for-small
		div.twelve.columns#weeks-bar
			ul
				li
					a#week WEEK
				each week in weeks
					li
						- if (week > currentWeek && user.type ===0 )
							a.disabled( data-week="#{week}") #{week}
						- else
							a.passed(href="#week#{week}", data-week="#{week}") #{week}
	div.row.clearfix#contents
		div.three.columns#sharebox.hide-for-small
			div.innercontents#submitnew
				div.cover
					div.frontCard
						form(name="share_article", action="/",enctype="multipart/form-data", method="post", style="margin-bottom : 0", class="custom")
							label Share or
								a.flip_btn  upload a resource!
							input(name="article_url",type="text", id="article_url", placeholder="http://")
							textarea(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment")

							div#sumbitrow
								div.selectcourse
									select(class="customDropdown", name="article_course", value="select a course")
										each item in courses
											option(value=item.uuid) #{item.subject+item.number}
								div.submit
									input(type="submit", value="add", class="small button")
					div.backCard
						form(name="upload_article", action="/",enctype="multipart/form-data", method="post", style="margin-bottom : 0", class="custom")
							label Upload or
								a.flip_btn  share a resource!

							input(name="article_url",type="text", id="article_url", placeholder="http://", disabled="disabled")
							textarea(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment", disabled="disabled")

							div#sumbitrow
								div.selectcourse
									select(class="customDropdown", name="article_course", value="select a course", disabled="disabled")
										each item in courses
											option(value=item.uuid) #{item.subject+item.number}
								div.submit
									input(type="submit", value="add", class="small button", disabled="disabled")