extends layout

block content
	- var weeks = [1,2,3,4,5,6,7,8,9,10,11,12,13]
	div.row
		div.twelve.columns#weeks-bar
			ul
				li
					a#week WEEK
				each week in weeks
					li(href="week/#{week}")
						a(href="week/#{week}") #{week}
	div.row.clearfix#contents
		div.three.columns
			div.innercontents#submitnew
				form(name="add_article", action="/",enctype="multipart/form-data", method="post", onsubmit="return validateForm()", style="margin-bottom : 0", class="custom")
					label Share a resource!
					input(name="article_url",type="text", id="article_url", placeholder="http://")
					textarea(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment")
					
					div#sumbitrow
						div.selectcourse
							select(class="customDropdown", name="article_course", value="select a course")
								each item in courses
									option(value=item.uuid) #{item.subject+item.number}
						div.submit
							input(type="submit", value="add", class="small button")
				if(typeof errormsg != 'undefined')
					p #{errormsg}
		
