doctype 5
html
	<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
	<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
	<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
	<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	
	head
		title= title
		<meta content='True' name='HandheldFriendly' />
		<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
		<meta name="viewport" content="width=device-width" />
		script(src="http://code.jquery.com/jquery-latest.js")
		script(src="/javascripts/engage/prettydate.js")
		script(src="/javascripts/engage/datetime.js")

		link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
		meta(charset="utf-8")
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')

		<!-- Set the viewport width to device width for mobile -->
		meta(name="viewport", content="width=device-width")
		
		

		<!-- Included CSS Files -->
		link(rel="stylesheet", href="/stylesheets/engage/foundation.css")

		link(rel="stylesheet", href="/stylesheets/engage/typicons.css")

		link(rel='stylesheet', href='/stylesheets/engage/style.css?v5')
				link(rel="stylesheet", href="/stylesheets/engage/app.css")
		<!--[if lt IE 9]>
		link(rel="stylesheet", href="/stylesheets/engage/ie.css")
		<![endif]-->
		
		script(src="/javascripts/engage/modernizr.foundation.js")
		
		<!-- IE Fix for HTML5 Tags -->
		<!--[if lt IE 9]>
		script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
		<![endif]-->
		
		<!-- Included JS Files -->
		script(src="/javascripts/jquery-1.7.2.min.js")
		script(src="/javascripts/engage/quicksand/jquery.quicksand.js")
		script(src="/javascripts/engage/quicksand/script.js")
		script(src="/javascripts/engage/jquery.reveal.js")
		script(src="/javascripts/engage/jquery.orbit-1.4.0.js")
		script(src="/javascripts/engage/jquery.customforms.js")
		script(src="/javascripts/engage/jquery.placeholder.min.js")
		script(src="/javascripts/engage/jquery.tooltips.js")
		script(src="/javascripts/engage/jquery.scrollTo-min.js")
		script(src="/javascripts/core.api.js")
		script(src="/javascripts/engage/app.js?v115")
		
	body
		div#header
			
			div.row.clearfix.show-for-small
				script(type='text/javascript')
					function show_slider_box(id){
						$(id).slideToggle();
					}
				div.slider_box#menu_box
					ul
						li
							a#all_btn(href="/") All Resources
						li
							a#contruibutions_btn(href="/mine") Your Contributions
					ul	
						li
							a#starred_btn(href="/starred") Starred
						li
							a#instructor_btn(href="/instructor") Instructor Posts
				div.slider_box#courses_box
					ul
						each item in courses
							li.courses
								a(href="../course/#{item.subject+'-'+item.number+'-'+item.section}") #{item.subject+' '+item.number}
								
				div.slider_box#mobile_share_box
					form(name="share_article", action="/",enctype="multipart/form-data", method="post", class="custom")
						input.article_url(name="article_url",type="text",placeholder="http://")
						input.article_comment(name="article_comment", type="text", placeholder="Type in a comment")

						div#mobile_sumbitrow
							div.selectcourse
								select(class="customDropdown", name="article_course", value="select a course")
									each item in courses
										option(value=item.uuid) #{item.subject+item.number}
							div.submit
								input(type="submit", value="add", class="small button")

				div.mobile-four.columns
					ul#sliderMenu
						li#slide_menu 
							a(onClick="show_slider_box('#menu_box')") MENU
						li#slide_courses 
							a(onClick="show_slider_box('#courses_box')") COURSES
						li#slide_share 
							a(onClick="show_slider_box('#mobile_share_box')") SHARE
					

			div.row.clearfix.show-for-small
				div.mobile-two.columns
					a(href="/")
						img.logo(href="/", src="/images/engage/SFUEngage_draft3-03.png")
				div.mobile-two.columns#user_options
					ul#user_options_list
						script(type='text/javascript')
							function dropdownToggle(id){
								$(id).toggleClass('hide');
								}
																

						li#notification.mobile_view
							div(onClick="dropdownToggle('#mobile_notif')")
								img.avatar(src="/images/engage/default_profile.png") 
								span#notification_number 4
							div.dropdown_list#mobile_notif.hide
								ul
									li
										a.notification
											img.user_avatar(src="/images/engage/default_profile.png")
											p.msg 
												span.username Mark 
												| just shared an resource in 
												span.coursename IAT 200.
									li
										a.notification
											img.user_avatar(src="http://m4.licdn.com/mpr/mpr/shrink_100_100/p/2/000/0e8/1e8/1f4efb2.jpg") 
											p.msg 
												span.username Catherine 
												| just shared an resource in 
												span.coursename IAT 200.
									li
										a.notification
											img.user_avatar(src="/images/engage/default_profile.png") 
											p.msg 
												span.username Mark 
												| liked your article in 
												span.coursename BUS 354
									li
										a.notification
											img.user_avatar(src="/images/engage/default_profile.png") 
											p.msg 
												span.username Ted 
												| liked your article in 
												span.coursename BUS 354		
						li#mobile_user_info.mobile_view
							div.expand_btn(onClick="dropdownToggle('#mobile_user_info')")
								span.typicn.next
							div.dropdown_list#mobile_user_info.hide
								ul
									li
										a(href="/profile/#{user.uuid}") My Profile
									li
										a(href="/preference") Preference
									li
										a(href="/logout") Logout

			div.row.clearfix.hide-for-small
				div.two.columns
					a(href="/")
						img.logo(href="/", src="/images/engage/SFUEngage_draft3-03.png")
				div.six.columns#nav-bar
					ul#options
						li
							a#all_btn(href="/") All Resources
						li
							a#contruibutions_btn(href="/mine") Your Contributions
						li
							a#starred_btn(href="/starred") Starred
						li
							a#instructor_btn(href="/instructor") Instructor Posts
				
				div.four.columns.dropdowns#user_options					
					ul#user_options_list
						script(type='text/javascript')
							function dropdownToggle(id){
								$(id).toggleClass('hide');
								}
						li
							div.dropdown_btn(onClick="dropdownToggle('#course_list')")
								span Courses
								span.typicn.next
							div.dropdown_list#course_list.hide
								ul
									each item in courses
										li.courses
											a(href="../course/#{item.subject+'-'+item.number+'-'+item.section}") #{item.subject+' '+item.number}
	
						li
							div.dropdown_btn(onClick="dropdownToggle('#user_info')")
								span #{ user.firstName } #{ user.lastName }
								span.typicn.next
							div.dropdown_list#user_info.hide
								ul
									li
										a(href="/profile/#{user.uuid}") My Profile
									li
										a(href="/preference") Preference
									li
										a(href="/logout") Logout
										

						li#notification
							div(onClick="dropdownToggle('#notif')")
								- if (profile && profile.profilePicture)
									img.avatar(src="#{profile.profilePicture}")
								- else
									img.avatar(src="/images/engage/default_profile.png")
								span#notification_number 4
							div.dropdown_list#notif.hide
								ul
									li
										a.notification
											img.user_avatar(src="/images/engage/default_profile.png")
											p.msg 
												span.username Mark 
												| just shared an resource in 
												span.coursename IAT 200.
									li
										a.notification
											img.user_avatar(src="http://m4.licdn.com/mpr/mpr/shrink_100_100/p/2/000/0e8/1e8/1f4efb2.jpg") 
											p.msg 
												span.username Catherine 
												| just shared an resource in 
												span.coursename IAT 200.
									li
										a.notification
											img.user_avatar(src="/images/engage/default_profile.png") 
											p.msg 
												span.username Mark 
												| liked your article in 
												span.coursename BUS 354
									li
										a.notification
											img.user_avatar(src="/images/engage/default_profile.png") 
											p.msg 
												span.username Ted 
												| liked your article in 
												span.coursename BUS 354					
		block content

