doctype 5
html
	<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
	<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
	<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
	<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
	<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	
	head
		title= title
		<meta content='True' name='HandheldFriendly' />
		<meta content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport' />
		<meta name="viewport" content="width=device-width" />
		script(src="http://code.jquery.com/jquery-latest.js")
		script(src="/javascripts/engage/prettydate.js")
		script(src="/javascripts/engage/datetime.js")

		link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
		meta(charset="utf-8")
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900', rel='stylesheet', type='text/css')

		<!-- Set the viewport width to device width for mobile -->
		meta(name="viewport", content="width=device-width")
		
		

		<!-- Included CSS Files -->
		link(rel="stylesheet", href="/stylesheets/engage/foundation.css")

		link(rel="stylesheet", href="/stylesheets/engage/typicons.css")

		link(rel='stylesheet', href='/stylesheets/engage/style.css?v3')
				link(rel="stylesheet", href="/stylesheets/engage/app.css")
		<!--[if lt IE 9]>
		link(rel="stylesheet", href="/stylesheets/engage/ie.css")
		<![endif]-->
		
		script(src="/javascripts/engage/modernizr.foundation.js")
		
		<!-- IE Fix for HTML5 Tags -->
		<!--[if lt IE 9]>
		script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
		<![endif]-->
		
		<!-- Included JS Files -->
		script(src="/javascripts/jquery-1.7.2.min.js")
		script(src="/javascripts/engage/quicksand/jquery.quicksand.js")
		script(src="/javascripts/engage/quicksand/script.js")
		script(src="/javascripts/engage/jquery.reveal.js")
		script(src="/javascripts/engage/jquery.orbit-1.4.0.js")
		script(src="/javascripts/engage/jquery.customforms.js")
		script(src="/javascripts/engage/jquery.placeholder.min.js")
		script(src="/javascripts/engage/jquery.tooltips.js")
		script(src="/javascripts/engage/jquery.scrollTo-min.js")
		script(src="/javascripts/core.api.js")
		script(src="/javascripts/engage/app.js")
		
	body
		div#header
			div.row.clearfix
				div.ten.columns
					a(href="/")
						img.logo(src="/images/engage/SFUEngage_draft3-03.png")
				div.two.columns.dropdown#user_options					
					ul.nav-bar#user_options_list
						li.has-flyout#notification
							a
								img.avatar(src="http://m4.licdn.com/mpr/mpr/shrink_100_100/p/2/000/0e8/1e8/1f4efb2.jpg") 
								span 4
							ul.flyout.small
								li
									a notification 1
								li
									a notification 1
								li
									a notification 1
								li
									a notification 1		
						li.has-flyout
							a
								| #{ user.firstName } #{ user.lastName }
							a(href="#").flyout-toggle
								span
							ul.flyout.small
								li
									a(href="/profile/#{user.uuid}") my profile
								li
									a(href="/preference") preference
								li
									a(href="#") log out
						li.has-flyout
							a(href="#").flyout-toggle
								span
								
				
			div.row.hide-for-small#nav
				div.ten.columns
					ul.nav-bar#options
						li(data-value="all")
							a#all_btn(href="/") All Resources
						li(data-value="yours")
							a#contruibutions_btn(href="/mine") Your Contributions
						li(data-value="starred")
							a#starred_btn(href="/starred") Starred
						li(data-value="prof")
							a#instructor_btn(href="/instructor") Instructor Posts
				div.two.columns.dropdown
					ul.nav-bar#courses_list
						li.has-flyout
							a(href="#") Courses
							a(href="#").flyout-toggle
								span
							ul.flyout.small
								each item in courses
									li.courses
										a(href="../course/#{item.subject+'-'+item.number+'-'+item.section}") #{item.subject+' '+item.number}


										
			div.row.show-for-small
				div.button-bar.ten.columns
					ul.button-group#mobile-nav
						li
							a.button(href="/") ALL
						li
							a.button(href="/mine") YOURS
						li
							a.button(href="/starred") STAR
						li
							a.button(href="/instructor") PROF
							
						br
						each item in courses
							li.courses
								a.button(href="../course/#{item.subject+item.number}") #{item.subject+item.number}
										
		block content

