extends layout



block content

	div.row.clearfix
		div.twelve.columns
			div#preference
				dl.tabs
					dt Preferences

					dd.active
						a(href="#edit") Edit Profile
					dd 
						a(href="#notification") Notification
				ul.tabs-content
					li.active#editTab

						form(id="edit_profile", action="/preference",enctype="multipart/form-data", method="post")
							div#avatar_column.columns
								img.avatar(src=avatar) 
								div.browsebox
									input(type="file", name="upload", onchange = "$('#edit_profile').submit();")
									div#upload_avatar upload
								input#helper(type="hidden", name="helper", value=format)
								a(onclick="remove()", id="remove") remove photo
								script
									function remove(){
										$('#helper').val('del');
										$('#edit_profile').submit();
									}

							div#edit_info_column.four.columns
								div#edit_box
									h4 #{user.firstName} #{user.lastName}
									label Preferred Name:
									input(type="text", name="pref_name", maxlength="20", value=pref_name)
									label About:
									textarea(type="text", name="bio")= bio
									input.button(type="submit", value="save changes")
								div#feedback
									| #{msg}
			
					li#notificationTab
						div#notification
							form(id="edit_notification", action="/preference", method="post")
								h4 Notifications
								p 
									|An email will automatically be sent to your inbox when one or more of the events occur.	
									br
									| You may also uncheck the boxes to turn these off at any time you would like.

								div#setting_detail
									ul
										li
											span
										li 
											span When others comment on my shares
										li 
											span When others like my shares

											
									ul.checkbox_column
										li
											span.typicn.mail
											span#email always
											span#email daily
											span#email weekly
											span#email monthly
											
										li 
											- var counter = 0
											for item in comments
												if item == "checked"
													input(type="radio", name="notificationOnComment", value=counter, checked = "checked") 
												else
													input(type="radio", name="notificationOnComment", value=counter)
												- counter = counter + 1

										li 
											- counter = 0
											for item in likes
												if item == "checked"
													input(type="radio", name="notificationOnLike", value= counter, checked = "checked") 
												else
													input(type="radio", name="notificationOnLike", value=counter)
												- counter = counter + 1
					
								
									input.button(type="submit", value="save changes")