extends layout

block content
	div.row#hidden-info(style="display:none;", data-user-id="#{selectedUser}")
	div.row.clearfix#contents
		div.three.columns
			div.innercontents#user_detail_box
				div.avatar_name
					- if (targetProfile.profilePicture)
						img.profile_avatar(src="#{targetProfile.profilePicture}")
					- else
						img.profile_avatar(src="/images/engage/default_profile.png")
					h4 #{targetUser.firstName} #{targetUser.lastName}
					
					span #{targetUser.email}
				div#user_bio
					h6 ABOUT
					p #{targetProfile.bio}
